<%- include('./common/head.ejs') %>
  <link rel="stylesheet" href="/css/reports/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>
<body>
  <header>
    <div class="wrapper">
      <h1>Отчёты</h1>
      <div class="logo">
        <img src="/assets/icons/plane-64x64.png" alt="Condorcet flights">
      </div>
      <nav>
        <ul>
          <li><a href="/pages/create-flights">Создание расписания</a></li>
          <li><a href="/pages/admin-voting">Голосование</a></li>
          <li class="current">Отчёты</li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="add-schedule">
      <div class="wrapper">
        <h2>Отчёты</h2>
        <div class="choose-date">
          <label for="dates">Выберите дату:</label>
          <select name="dates" id="dates">
          </select>
        </div>
        <div class="choose-report">
          <label for="reports">Выберите вид отчёта:</label>
          <select name="reports" id="reports">
            <option value="pie-chart">Круговая диаграмма</option>
            <option value="graph">Столбчатая диаграмма</option>
            <option value="table">Таблица</option>
          </select>
        </div>
        <div class="report-wrapper">
          <canvas id="chart" height="450" width="992">
          </canvas>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="wrapper">
      <div class="app-name">
        Condorcet Flights
      </div>
      <ul>
        <li><a href="/pages/create-flights">Создание расписания</a></li>
        <li><a href="/pages/admin-voting">Голосование</a></li>
        <li class="current">Отчёты</li>
      </ul>
    </div>
  </footer>
  <script src="/scripts/reports/script.js"></script>
</body>