<%- include('./common/head.ejs') %>
<link rel="stylesheet" href="/css/create-flights/style.css">
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="logo">
        <img src="/assets/icons/plane-64x64.png" alt="Condorcet flights">
      </div>
      <nav>
        <ul>
          <li class="current">Создание расписания</li>
          <li><a href="/voting">Голосование</a></li>
          <li><a href="/reports">Отчёты</a></li>
        </ul>
      </nav>
      <button class="exit-button">
        Выход
      </button>
    </div>
  </header>
  <main></main>
  <footer></footer>
</body>