<%- include('./common/head.ejs') %>
<link rel="stylesheet" href="/css/create-flights/style.css">
</head>
<body>
  <header>
    <h1>Создание расписания</h1>
    <div class="wrapper">
      <div class="logo">
        <img src="/assets/icons/plane-64x64.png" alt="Condorcet flights">
      </div>
      <nav>
        <ul>
          <li class="current">Создание расписания</li>
          <li><a href="/voting">Голосование</a></li>
          <li><a href="/reports">Отчёты</a></li>
        </ul>
      </nav>
      <button class="exit-button">
        Выход
      </button>
    </div>
  </header>
  <main>
    <section class="add-schedule">
      <div class="wrapper">
        <h2>Добавление рейсов для голосования</h2>
        <div class="choose-date">
          <label for="date-1">Выберите дату:</label>
          <input type="date" id="date-1" class="date-input">
        </div>
        <div class="add-flight">
          <div class="input-fields">
            <input type="text" id="from-input" class="from-input" placeholder="Откуда">
            <input type="text" id="to-input" class="to-input" placeholder="Куда">
            <input type="text" id="airline-input" class="airline-input" placeholder="Код IATA">
            <input type="text" id="flight-number-input" class="flight-number-input" placeholder="Номер рейса">
          </div>
          <button class="add-button">
            Добавить рейс
          </button>
        </div>
        <div class="table-wrapper">
          <table>
            <tr>
              <th>Откуда</th>
              <th>Куда</th>
              <th>Код IATA</th>
              <th>Номер рейса</th>
              <th>Удалить</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="delete-row"></button></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="delete-row"></button></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="delete-row"></button></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="delete-row"></button></td>
            </tr>
          </table>
        </div>
        <button class="submit-schedule-button blue-button">Подтвердить рейсы</button>
      </div>
    </section>
    <section class="close-voting">
      <div class="wrapper">
        <h2>Завершение голосования</h2>
        <div class="inner-wrapper">
          <div class="choose-date">
            <label for="date-2">Выберите дату:</label>
            <input type="date" id="date-2" class="date-input">
          </div>
          <button class="stop-voting-button blue-button">Завершить голосование</button>
        </div>
      </div>
    </section>
    
  </main>
  <footer>
    <div class="wrapper">
      <div class="app-name">
        Condorcet Flights
      </div>
      <ul>
        <li class="current">Создание расписания</li>
        <li><a href="/voting">Голосование</a></li>
        <li><a href="/reports">Отчёты</a></li>
      </ul>
    </div>
  </footer>
</body>