  <%- include('./common/head.ejs') %>
  <link rel="stylesheet" href="/css/start/style.css">
</head>
<body>
  <div class="mainbox">
    <div class="greeting">
      <p><%= greeting %></p>
    </div>
    <div class="msg">
      <p>Вернуться <a href="/">на главную страницу</a></p>
    </div>
  </div>
</body>