  <%- include('./common/head.ejs') %>
  <link rel="stylesheet" href="/css/start/style.css">
</head>
<body>
  <div class="login-page">
    <div class="form-wrapper">
      <form class="register-form">
        <div class="input-wrapper">
          <input class="username" type="text" name="username" placeholder="Логин">
          <div class="warning-message username-message">Логин должен состоять из цифр или букв латинского алфавита, символов "-" или "_" и быть минимум 6 символов.</div>
        </div>
        <div class="input-wrapper">
          <input class="password" type="password" name="password" placeholder="Пароль">
          <div class="warning-message password-message">Пароль должен состоять из цифр или букв латинского алфавита и быть минимум 8 символов.</div>
        </div>
        <div class="input-wrapper">
          <input class="email" type="text" name="email" placeholder="Email">
          <div class="warning-message email-message">Email должен иметь вид: example@gmail.com.</div>
        </div>
        <div class="warning-message sign-up-warning"></div>
        <button type="button" class="sign-up-button">Создать аккаунт</button>
        <div class="change-wrapper"><p class="change">Уже зарегистрированы?</p><div class="change-link"><a href="#">Авторизация</a></div></div>
      </form>
      <form class="login-form active-form">
        <div class="input-wrapper">
          <input class="username" type="text" name="username" placeholder="Логин">
          <div class="warning-message username-message">Логин должен состоять из цифр или букв латинского алфавита, символов "-" или "_" и быть минимум 6 символов.</div>
        </div>
        <div class="input-wrapper">
          <input class="password" type="password" name="password" placeholder="Пароль">
          <div class="warning-message password-message">Пароль должен состоять из цифр или букв латинского алфавита и быть минимум 8 символов.</div>
        </div>
        <div class="warning-message sign-in-warning"></div>
        <button type="button" class="sign-in-button">Войти</button>
        <div class="change-wrapper"><p class="change">Ещё не зарегистрированы?</p><div class="change-link"><a href="#">Создать аккаунт</a></div></div>
      </form>
    </div>
  </div>
  <script src="scripts/start/script.js"></script>
</body>
</html>