<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/start/style.css">
  <title>Расписание Кондорсе</title>
</head>
<body>
  <div class="login-page">
    <div class="form-wrapper">
      <form class="register-form" method="POST" action="/auth/sign-up">
        <input class="username" type="text" name="username" placeholder="Логин" pattern="^([a-zA-Z0-9_\-]+){6,}$" required>
        <input class="password" type="password" name="password" placeholder="Пароль" pattern="^([a-zA-Z0-9]+){8,}$" required>
        <input class="email" type="text" name="email" placeholder="Email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,4})$" required>
        <button type="submit">Создать аккаунт</button>
        <p class="change">Уже зарегистрированы?<a href="#">Авторизация</a></p>
      </form>
      <form class="login-form active-form" method="POST" action="/auth/sign-in">
        <input class="username" type="text" name="username" placeholder="Логин" pattern="^([a-zA-Z0-9_\-]+){6,}$" required>
        <input class="password" type="password" name="password" placeholder="Пароль" pattern="^([a-zA-Z0-9]+){8,}$" required>
        <button type="submit">Войти</button>
        <p class="change">Ещё не зарегистрированы?<a href="#">Создать аккаунт</a></p>
      </form>
    </div>
  </div>
  <script src="scripts/start/script.js"></script>
</body>
</html>