<%- include('./common/head.ejs') %>
<link rel="stylesheet" href="/css/voting/style.css">
</head>
<body>
  <header>
    <h1>Голосование</h1>
    <div class="wrapper">
      <div class="logo">
        <img src="/assets/icons/plane-64x64.png" alt="Condorcet flights">
      </div>
      <nav>
        <ul>
          <li><a href="/create-flights">Создание расписания</a></li>
          <li class="current">Голосование</li>
          <li><a href="/reports">Отчёты</a></li>
        </ul>
      </nav>
      <button class="exit-button">
        Выход
      </button>
    </div>
  </header>
  <main>
    <section class="add-schedule">
      <div class="wrapper">
        <h2>Добавление рейсов для голосования</h2>
        <div class="choose-date">
          <label for="date-1">Выберите дату:</label>
          <input type="date" id="date-1" class="date-input">
        </div>
        <div class="table-wrapper">
          <table>
            <tr>
              <th>Откуда</th>
              <th>Куда</th>
              <th>Код IATA</th>
              <th>Номер рейса</th>
              <th>Оценка</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><input type="number" min="1" max="1000"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><input type="number" min="1" max="1000"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><input type="number" min="1" max="1000"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><input type="number" min="1" max="1000"></td>
            </tr>
          </table>
        </div>
        <button class="send-rates-button blue-button">Отправить оценки</button>
      </div>
    </section>
  </main>
  <footer>
    <div class="wrapper">
      <div class="app-name">
        Condorcet Flights
      </div>
      <ul>
        <li><a href="/create-flights">Создание расписания</a></li>
        <li class="current">Голосование</li>
        <li><a href="/reports">Отчёты</a></li>
      </ul>
    </div>
  </footer>
</body>