body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

main .wrapper {
  padding: 0 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 42px;
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500;
  color: var(--dark-color-text);
}

main .choose-date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .choose-date .warning-message {
  color: red;
  top: 100%;
  left: 14%;
}

main .choose-date label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: block;
  margin-right: 10px;
  color: var(--dark-color-text);
}

main .choose-date .date-input {
  border-radius: 7px;
  border: 1px solid var(--input-field-color);
  background: var(--input-field-color);
  padding: 8px 16px;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--input-text-color);
  cursor: pointer;
}

main .choose-date .date-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
}

main .choose-date .date-input.wrong {
  border: 1px solid red;
}

main .add-schedule .choose-date {
  margin-bottom: 40px;
}

main .add-schedule .add-flight {
  padding: 38px 30px 36px;
  background: -webkit-gradient(linear, right top, left top, from(var(--color-1)), to(var(--color-2)));
  background: linear-gradient(to left, var(--color-1), var(--color-2));
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  border: 1px solid transparent;
}

main .add-schedule .add-flight.wrong {
  border: 1px solid red;
}

main .add-schedule .add-flight .input-fields {
  position: relative;
  width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*when hovering an item:*/
  /*when navigating through the items using the arrow keys:*/
}

main .add-schedule .add-flight .input-fields > .warning-message {
  font-size: 1.6rem;
  top: 115%;
  left: 40%;
}

main .add-schedule .add-flight .input-fields .input-wrapper {
  position: relative;
}

main .add-schedule .add-flight .input-fields input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 165px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: none;
  border-radius: 7px;
  background: var(--input-field-color);
  padding: 11px 16px;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color-text);
}

main .add-schedule .add-flight .input-fields input.wrong {
  border: 1px solid red;
}

main .add-schedule .add-flight .input-fields .autocomplete {
  position: absolute;
  display: inline-block;
}

main .add-schedule .add-flight .input-fields .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

main .add-schedule .add-flight .input-fields .autocomplete-items div {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color-text);
  background: var(--input-field-color);
}

main .add-schedule .add-flight .input-fields .autocomplete-items div:first-of-type {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

main .add-schedule .add-flight .input-fields .autocomplete-items div:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

main .add-schedule .add-flight .input-fields .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

main .add-schedule .add-flight .input-fields .autocomplete-items div:hover {
  background-color: #e9e9e9;
}

main .add-schedule .add-flight .input-fields .autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

main .add-schedule .add-flight .add-button {
  font-size: 2rem;
}

main .add-schedule .table-wrapper {
  height: 252px;
  overflow: auto;
  margin-bottom: 38px;
}

main .add-schedule .table-wrapper table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--dark-color-text);
  border-radius: 7px;
}

main .add-schedule .table-wrapper table tr {
  height: 50px;
  font-size: 2.2rem;
}

main .add-schedule .table-wrapper table tr:last-child td:first-of-type {
  border-bottom-left-radius: 7px;
}

main .add-schedule .table-wrapper table tr:last-child td:last-of-type {
  border-bottom-right-radius: 7px;
}

main .add-schedule .table-wrapper table tr td {
  border-left: 1px solid var(--dark-color-text);
  border-top: 1px solid var(--dark-color-text);
  border-spacing: 0;
  text-align: center;
}

main .add-schedule .table-wrapper table tr td .delete-row {
  background: url(../../assets/icons/delete.svg) no-repeat;
  width: 32px;
  height: 32px;
}

main .add-schedule .table-wrapper table tr td .delete-row:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main .add-schedule .table-wrapper table tr th {
  border-left: 1px solid var(--dark-color-text);
  border-spacing: 0;
  font-weight: 500;
  width: 240px;
}

main .add-schedule .table-wrapper table tr th:first-of-type {
  border-top-left-radius: 7px;
}

main .add-schedule .table-wrapper table tr th:last-of-type {
  border-top-right-radius: 7px;
}

main .add-schedule .table-wrapper table tr td:first-child,
main .add-schedule .table-wrapper table tr th:first-child {
  border-left-width: 0;
}

main .add-schedule .table-wrapper::-webkit-scrollbar {
  width: 16px;
}

main .add-schedule .table-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px gray;
          box-shadow: inset 0 0 5px gray;
  border-radius: 7px;
}

main .add-schedule .table-wrapper::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 7px;
}

main .add-schedule .table-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--color-2);
}

main .add-schedule .submit-schedule-button {
  margin-bottom: 50px;
  width: 238px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .close-voting {
  padding-bottom: 50px;
  background-color: var(--dark-white-background);
}

main .close-voting .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .close-voting .inner-wrapper .stop-voting-button {
  width: 271px;
}

main .warning-message {
  position: absolute;
  padding-top: 3px;
  display: none;
  font-size: 1.1rem;
  color: var(--light-color-text);
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

main .warning-message.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */